.section-heading {
    text-align:center;
    color:#102C4E;
    margin-top: 150px;
    margin-bottom:70px;
    font-size: 45px;
  }
  .p.b.b {
    font-family: sans-serif;

}
  /* Sizing for Project Containers  */
  
  .column-4 {
    float: left;
    width: 21%;
    padding: 10px;
    margin:20px;
    height: 325px;
  }
  
  
  .myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color: #EBEBEB;
  }
  .workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
  }
  .workGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 80px;
  }
  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }
  .content3 {
    grid-area: content3;
  }
  

  @media screen and (max-width: 600px) {

  }
    
    .section-heading {
        font-size: 30px; 
        margin-top: 50px; 
        margin-bottom: 50px; 
    }
   
    .footer {
      position:flex;
      bottom:0;
      left: 10px;;
      width: 100%;
      height: 90px;
      background-color: #86908f;
    }
    .footer-text-right{
      font-size:35px;
      padding:10px;
      float:right;
      word-spacing:50px;
    }
    
    a.menu:hover {
      background-color:#FFF6BF;
      font-size:20px;
    }
    .footer-content-right {
      padding-right:40px;
      margin-top:20px;
      float:right;
    }
    
    .icon-style {
      height:40px;
      margin-left:20px;
      margin-top:5px;
    }
    
    .icon-style:hover {
      background-color:#FFFEEC;
      padding:5px;
    }